<app-bar></app-bar>
<div class="container">
    <h2 class="title">update User</h2>
  
    <div class="user-card">
      <div class="user-info">
        <div class="user-field">
          <span class="label">Firstname :</span>
          <span class="value">{{ user?.firstname }}</span>
        </div>
        <div class="user-field">
          <span class="label">Lastname :</span>
          <span class="value">{{ user?.lastname }}</span>
        </div>
        <div class="user-field">
          <span class="label">Email :</span>
          <span class="value">{{ user?.email }}</span>
        </div>
        <div class="user-field">
          <span class="label">Phone :</span>
          <span class="value">{{ user?.phone }}</span>
        </div>
        <div class="user-field">
          <span class="label">Role :</span>
          <select *ngIf="user" [(ngModel)]="user.role">
            <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
          </select>
        </div>
      </div>
  
      <div class="user-actions">
        <button class="btn save" (click)="updateRole()">Save</button>
        <button class="btn cancel" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
  