<app-bar></app-bar>
<div class="container">
  <h2 class="title">Employers List</h2>

  <div class="user-list">
    <ng-container *ngFor="let user of filteredUsers | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
      <div *ngIf="user.role === 'Employer'" class="user-card">
        <div class="user-info">
          <div class="user-field">
            <span class="label">Firstname :</span>
            <span class="value">{{ user.firstname }}</span>
          </div>
          <div class="user-field">
            <span class="label">Lastname :</span>
            <span class="value">{{ user.lastname }}</span>
          </div>
          <div class="user-field">
            <span class="label">Email :</span>
            <span class="value">{{ user.email }}</span>
          </div>
          <div class="user-field">
            <span class="label">Phone :</span>
            <span class="value">{{ user.phone }}</span>
          </div>
          <div class="user-field">
            <span class="label">Role :</span>
            <span class="value">{{ user.role }}</span>
          </div>
          <div class="user-field">
            <span class="label">État :</span>
            <span class="value" [ngStyle]="{'color': user.teamId ? 'red' : 'green'}">
                {{ user.teamId ? '🔴 Busy' : '🟢 Available' }}
            </span>
          </div>
        </div>

        <!-- Afficher le bouton si l'utilisateur n'est pas affecté à une équipe -->
        <button *ngIf="!user.teamId" mat-button (click)="openAssignTeamDialog(user.id)">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>

  <!-- Pagination -->
  <mat-paginator [length]="totalUsers"
                 [pageSize]="itemsPerPage"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>
